.personal_info_main {
  overflow: auto;
}
.qiandao-con {
  margin: 0 auto;
  width: 1035px;
  height: 684px;
  background-image: url(images/qiandao_con.jpg);
  border-radius: 15px;
  overflow: hidden;
}
.qiandao-left {
  float: left;
  padding: 20px 42px 0 39px;
  width: 603px;
}
.qiandao-right {
  float: right;
  padding: 0 20px;
  width: 290px;
}
.qiandao-right .r_top {
  width: 100%;
  height: 150px;
  text-align: center;
  line-height: 150px;
  background-size: cover;
  margin-top: 50px;
  font-size: 25px;
  color: #666;
}
.qiandao-right .r_top span {
  color: #f00;
}
.qiandao-right .r_bottom {
  width: 100%;
  height: 360px;
  margin-top: 100px;
}
.current-date {
  float: left;
  padding-top: 5px;
  padding-left: 55px;
  color: #b25d06;
  font-size: 18px;
}
.qiandao-main {
  overflow: hidden;
  width: 603px;
}
.qiandao-list {
  margin-top: 76px;
  margin-right: -10px;
}
.qiandao-list li {
  position: relative;
  float: left;
  margin: 0 1px 1px 0;
  width: 85px;
  height: 85px;
  background-image: url(images/qiandao_day.png);
  background-position: 0 0;
}
.qiandao-list li.date1 {
  background-position: -430px 0;
}
.qiandao-list li.date2 {
  background-position: -516px 0;
}
.qiandao-list li.date3 {
  background-position: 0 -86px;
}
.qiandao-list li.date4 {
  background-position: -86px -86px;
}
.qiandao-list li.date5 {
  background-position: -172px -86px;
}
.qiandao-list li.date6 {
  background-position: -258px -86px;
}
.qiandao-list li.date7 {
  background-position: -344px -86px;
}
.qiandao-list li.date8 {
  background-position: -430px -86px;
}
.qiandao-list li.date9 {
  background-position: -516px -86px;
}
.qiandao-list li.date10 {
  background-position: 0 -172px;
}
.qiandao-list li.date11 {
  background-position: -86px -172px;
}
.qiandao-list li.date12 {
  background-position: -172px -172px;
}
.qiandao-list li.date13 {
  background-position: -258px -172px;
}
.qiandao-list li.date14 {
  background-position: -344px -172px;
}
.qiandao-list li.date15 {
  background-position: -430px -172px;
}
.qiandao-list li.date16 {
  background-position: -516px -172px;
}
.qiandao-list li.date17 {
  background-position: 0 -258px;
}
.qiandao-list li.date18 {
  background-position: -86px -258px;
}
.qiandao-list li.date19 {
  background-position: -172px -258px;
}
.qiandao-list li.date20 {
  background-position: -258px -258px;
}
.qiandao-list li.date21 {
  background-position: -344px -258px;
}
.qiandao-list li.date22 {
  background-position: -430px -258px;
}
.qiandao-list li.date23 {
  background-position: -516px -258px;
}
.qiandao-list li.date24 {
  background-position: 0 -344px;
}
.qiandao-list li.date25 {
  background-position: -86px -344px;
}
.qiandao-list li.date26 {
  background-position: -172px -344px;
}
.qiandao-list li.date27 {
  background-position: -258px -344px;
}
.qiandao-list li.date28 {
  background-position: -344px -344px;
}
.qiandao-list li.date29 {
  background-position: -430px -344px;
}
.qiandao-list li.date30 {
  background-position: -516px -344px;
}
.qiandao-list li.date31 {
  background-position: 0 -430px;
}
.qiandao-list li .qiandao-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 85px;
  height: 85px;
  background: url(images/qiandao_icon.png) no-repeat center center;
}
.qiandao-list li.qiandao .qiandao-icon {
  display: block;
}
